/.idea
/.git
/.env
/log/*
!log/do_not_delete_this_directory
/audio/*
!audio/request
!audio/response
!audio/request/do_not_delete_this_directory
!audio/response/do_not_delete_this_directory
/node_modules/